<form method="POST" action="/add-to-cart">
  <!-- passing data in hidden input field  -->
  <input type="hidden" name="productId" value="<%= item%>" />
  <button class="btn">Add to Cart</button>
</form>
